.image-clear{
  width: 7%;
  height: auto;
  float: right;
  margin-right: 4%;
}

.container-content-menu{
  display: block;
  width: 90%;
  height: 30%;
  background-color: #28e070;
  margin: 5%;
}

.container-content-menu ion-img{
  display: inline-block;
  width: 25%;
  height: auto;
}

.container-content-menu div{
  display: inline-block;
  width: 75%;
  height: 50%;
  background-color: #7044ff;
}
