<ion-content padding-top>
  <div class="container-header">
    <ion-img class="image-clear" src="./assets/icon/icon_clear.png" (click)="closeDetailPage()"></ion-img>
  </div>
  <ion-grid>

    <ion-row class="row-item">
      <ion-col>
        <span class="content-static">Personalisierungs-ID</span> <br>
        <span class="content-dynamic">1998</span>
      </ion-col>
    </ion-row>

    <ion-row class="row-item">
      <ion-col>
        <span class="content-static">Projekt-ID</span> <br>
        <span class="content-dynamic">212</span>
      </ion-col>
    </ion-row>

    <ion-row class="row-item">
      <ion-col>
        <span class="content-static">Unique name</span> <br>
        <span class="content-dynamic">Projektname mit 32 Zeichen Länge</span>
      </ion-col>
    </ion-row>

    <ion-row class="row-item">
      <ion-col>
        <span class="content-static">Projektstatus</span> <br>
        <span class="content-dynamic">Completed</span>
      </ion-col>
    </ion-row>

    <ion-row class="row-item">
    <ion-col>
      <span class="content-static">Vimeo-ID</span> <br>
      <span class="content-dynamic">123456789</span>
    </ion-col>
  </ion-row>

    <ion-row class="row-item">
      <ion-col>
        <span class="content-static">Erstellt</span> <br>
        <span class="content-dynamic">2019-01-15</span>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
