<ion-content padding-top="">

  <div id="spacer-top"></div>

  <ion-img id="logo-movido" [src]="logoUrl"></ion-img>


    <div class="border">
      <ion-input class="input" type="email" placeholder="E-Mail" ></ion-input>
    </div>

  <div class="border">
    <ion-input class="input" type="password" placeholder="Passwort"></ion-input>
  </div>

  <ion-button mode="ios" expand="block" fill="outline" color="gold" (click)="login()">Login</ion-button>


  <div class="forgot-password-box">
    <ion-label>Passwort vergessen?</ion-label>
  </div>







</ion-content>
