<ion-header padding-top>
  <div id="header">

    <div class="container-header-logo">
      <ion-img src="./assets/images/logo_movido_quer.png"></ion-img>
    </div>


    <div class="container-header-menu">
      <div class="menu-button">
        <ion-menu-button autoHide="false" color="light" menuToggle ></ion-menu-button>
      </div>

    </div>

  </div>

</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOption" scrollbar="false">
    <ion-slide [style.background-image]="backgroundImageSliderOne" >
        <div class="container-slider-header">
          <ion-img [src]="getIcon()" (click)="isIconSelected_OnClick()"></ion-img>
        </div>
        <div class="container-slider-projectname">
          <ion-label>PROJEKTNAME MIT 32 <br> ZEICHEN LÄNGE</ion-label>
        </div>

        <div class="container-slider-footer">
          <ion-img class="icon-add" src="./assets/icon/icon_plus.png"></ion-img>
          <ion-img class="icon-details" (click)="openDetailPage()" src="./assets/icon/icon_more.png"></ion-img>
        </div>
    </ion-slide>
    <ion-slide [style.background-image]="backgroundImageSliderTwo">
      <div class="container-slider-header">
        <ion-img [src]="getIcon()" (click)="isIconSelected_OnClick()"></ion-img>
      </div>
      <div class="container-slider-projectname">
        <ion-label>PROJEKTNAME MIT 32 <br> ZEICHEN LÄNGE</ion-label>
      </div>

      <div class="container-slider-footer">
        <ion-img class="icon-add" src="./assets/icon/icon_plus.png"></ion-img>
        <ion-img class="icon-details" (click)="openDetailPage()" src="./assets/icon/icon_more.png"></ion-img>
      </div>
    </ion-slide>
    <ion-slide [style.background-image]="backgroundImageSliderThree">
      <div class="container-slider-header">
        <ion-img [src]="getIcon()" (click)="isIconSelected_OnClick()"></ion-img>
      </div>
      <div class="container-slider-projectname">
        <ion-label>PROJEKTNAME MIT 32 <br> ZEICHEN LÄNGE</ion-label>
      </div>

      <div class="container-slider-footer">
        <ion-img class="icon-add" src="./assets/icon/icon_plus.png"></ion-img>
        <ion-img class="icon-details" (click)="openDetailPage()" src="./assets/icon/icon_more.png" ></ion-img>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="container-content-all-projects">
    <div class="button-all-projects">
      <p>ALLE PROJEKTE</p>
    </div>
  </div>

  <div class="container-details">

    <div class="container-cards">

    </div>

  </div>



</ion-content>
